.card {
    background-color: white;
    border-radius: 25px;
    padding: 2em;
    margin-bottom: 2em;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
}

.grid-item {
    display: inline-block;
    vertical-align: top;
}

